.card.shadow.p-3.mb-5.bg-white.rounded
  .before-after-container
    figure(
      style="background-image: url(https://cdn.pixabay.com/photo/2022/07/25/05/49/squirrel-7342928_1280.jpg)"
    )
      #beforeImg.before_after(
        style="background-image: url(https://cdn.pixabay.com/photo/2022/07/23/08/05/squirrel-7339496_1280.jpg)"
      )
    input#after_slider.before_after_slider(
      oninput="beforeAfter(this.id,'#beforeImg')",
      onchange="beforeAfter(this.id,'#beforeImg')",
      type="range",
      min="0",
      max="100",
      value="50"
    )
    //- input(#after_slider.before_after_slider
    //-   oninput="this.parentNode.style.setProperty('--slide', `${this.value}`)",
    //-   onchange="this.parentNode.style.setProperty('--slide', `${this.value}`)",
    //-   type="range",
    //-   min="0",
    //-   max="100",
    //-   value="50"
    //- )
  //- img.card-img-top(src="https://picsum.photos/200/200/?random=1")
  //- .card-body
    h5.card-title Before & After Image
    p.card-text 自適應「前後圖」比較滑動塊
    p Original JS function forked from Josetxu ---> https://codepen.io/josetxu/pen/mJbmZY
    p
      a(
        title="Background Image Using CSS variables",
        href="https://codepen.io/mark_sottek/pen/QWmwaZV",
        target="_blank"
      ) VERSION TWO - Background images lazyloaded via data attributes.
    p 我看到的來源//-
      a(href="https://codepen.io/mark_sottek/pen/wvmveMG", target="_blank") V I - Before and After Image Comparison Slider using CSS Variables. SUPER simple.
    p 改編
      a(href="https://www.youtube.com/watch?v=EAc7PktCsY0",
        target="_blank") 原生JS | 滑動前後對比圖片，Before/After效果【一起學前端
    p 參考
      a(href="https://www.youtube.com/watch?v=dzqDU9efnnk",
        target="_blank") Before/After Image Slider Comparison (HTML, CSS, and JavaScript)
      a(href="https://www.youtube.com/watch?v=AmEo-BKTyNo",
      target="_blank") 「前後對比」效果｜只用一行JS
.card.shadow.p-3.mb-5.bg-white.rounded
  .before-after-container
    figure(
      style="background-image: url(https://picsum.photos/200/200/?random=2)"
    )
      #beforeImg2.before_after(
        style="background-image: url(https://picsum.photos/200/200/?random=1)"
      )
    input#after_slider2.before_after_slider(
      oninput="beforeAfter(this.id,'#beforeImg2')",
      onchange="beforeAfter(this.id,'#beforeImg2')",
      type="range",
      min="0",
      max="100",
      value="50"
    )